# Env files
envVars/*

# Node.js (Backend)
backend/node_modules/
backend/package-lock.json
backend/db/data

# Node.js (Frontend - BackOffice)
web/backOffice/node_modules/
web/backOffice/package-lock.json
web/backOffice/dist

# Node.js (Frontend - FrontOffice)
web/frontOffice/node_modules/
web/frontOffice/package-lock.json
web/backOffice/dist


# Flutter (Frontend - Mobile)
# mobile/.dart_tool/
# mobile/.idea/
# mobile/android/
# mobile/ios/
# mobile/linux/
# mobile/macos/
# mobile/test/
# mobile/web/
# mobile/windows/
# mobile/.metadata
# mobile/pubspec.lock


mobile/ios/**/dgph
mobile/ios/*.mode1v3
mobile/ios/*.mode2v3
mobile/ios/*.moved-aside
mobile/ios/*.pbxuser
mobile/ios/*.perspectivev3
mobile/ios/**/*sync/
mobile/ios/.sconsign.dblite
mobile/ios/.tags*
mobile/ios/**/.vagrant/
mobile/ios/**/DerivedData/
mobile/ios/Icon?
mobile/ios/**/Pods/
mobile/ios/**/.symlinks/
mobile/ios/profile
mobile/ios/xcuserdata
mobile/ios/**/.generated/
mobile/ios/Flutter/App.framework
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Flutter.podspec
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/ephemeral/
mobile/ios/Flutter/app.flx
mobile/ios/Flutter/app.zip
mobile/ios/Flutter/flutter_assets/
mobile/ios/Flutter/flutter_export_environment.sh
mobile/ios/ServiceDefinitions.json
mobile/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
mobile/ios/!default.mode1v3
mobile/ios/!default.mode2v3
mobile/ios/!default.pbxuser
mobile/ios/!default.perspectivev3


mobile/android/gradle-wrapper.jar
mobile/android/.gradle
mobile/android/captures/
mobile/android/gradlew
mobile/android/gradlew.bat
mobile/android/local.properties
mobile/android/GeneratedPluginRegistrant.java
mobile/android/.cxx/

mobile/android/key.properties
mobile/android/**/*.keystore
mobile/android/**/*.jks


# IDE files (Optional, depending on the IDE you use)
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Flutter build files
mobile/build/

# Logs
*.log

