# Env files
envVars/*

# Node.js (Backend)
web/backend/node_modules/
web/backend/package-lock.json
web/backend/db/data

# Node.js (Frontend - BackOffice)
web/frontend/backOffice/node_modules/
web/frontend/backOffice/package-lock.json

# Node.js (Frontend - FrontOffice)
web/frontend/frontOffice/node_modules/
web/frontend/frontOffice/package-lock.json

# Node.js (Frontend - Raiz)
web/frontend/node_modules/
web/frontend/package-lock.json


# Flutter (Frontend - Mobile)
# mobile/.dart_tool/
# mobile/.idea/
# mobile/android/
# mobile/ios/
# mobile/linux/
# mobile/macos/
# mobile/test/
# mobile/web/
# mobile/windows/
# mobile/.metadata
# mobile/pubspec.lock


# IDE files (Optional, depending on the IDE you use)
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Flutter build files
mobile/build/

# Logs
*.log

